* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
}

.container {
	width: 80%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	padding-top: 20px;
}

h1, h2 {
	flex-basis: 100%;
	flex-shrink: 0;
}

h1 {
	padding: 20px 0;
}

h2 {
	padding: 10px 0;
}

label {
	font-size: 2.5em;
	height: 100%;
	padding-left: 25px;
}

.logo {
	width: 50px;
}

label > span {
	vertical-align: top;
}

progress {
	flex-grow: 1;
	position: relative;
}

progress[value] {
	/* Reset the default appearance */
 	-webkit-appearance: none;
	appearance: none;

	height: 60px;
}

progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
	background-color: #6ab72f;

    border-radius: 10px; 
    background-size: 35px 20px, 100% 100%, 100% 100%;
}


progress::before, progress::after {
	position: absolute;
	display: inline-block;
	font-size: 1.5em;
	font-weight: bold;
	padding: 15px;
}

progress::before {
	content: "17";
	left: 3%;
	color: #fff;
}

progress::after {
	content: "139";
	right: 44%;
	top: 0;
	color: #444;
}




