* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
}

.container {
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 10px 0 35px 0;

	background-color: rgba(78, 195, 237, .1);
}

h1, h2 {
	flex-basis: 100%;
	flex-shrink: 0;
}

h1 {
	padding: 20px 0;
}

h2 {
	padding: 10px 0;
}


label {
	font-size: 2.5em;
	height: 100%;
	padding: 0 25px;
}

.logo {
	width: 60px; 
}

label > span {
	vertical-align: top;
}

progress {
	flex-grow: 0;
	flex-basis: 65%;
	position: relative;
}

progress[value] {
	/* Reset the default appearance */
 	-webkit-appearance: none;
	appearance: none;

	height: 60px;
}

progress[value]::-webkit-progress-bar {
  /*background-color: rgba(200,50,50, .8);*/
  background-color: rgba(0,0,0,.7);
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
	/*background-color: #6ab72f;*/
	background-color: rgb(78, 195, 237);

    border-radius: 10px; 
    background-size: 35px 20px, 100% 100%, 100% 100%;
}

progress::before, progress::after {
	position: absolute;
	display: inline-block;
	font-size: 1.5em;
	font-weight: bold;
	padding: 15px;
}

progress::before {
	content: "0";
	left: 0;
	color: #fff;
}

progress::after {
	content: "0";
	right: 0;
	top: 0;
	color: #444;
	color: #fff;
}

.timeline-marker {
	position: absolute;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: bold;
	top: 80px;
}

.timeline-marker:after {
	content: "|";
	position: absolute;
	font-size: 24px;
	top: -24px;
	left: 50%;
}

.timeline-marker.halfway {
	left: calc(50% - 25px);
}

.timeline-marker.start {
	left: calc(10% + 100px);
}

.timeline-marker.end {
	right: calc(10% + 100px);
}

.green {
	color: rgb(69, 158, 57);
}

.yellow {
	color: rgb(239, 195, 1);
}

.red {
	color: rgb(237, 64, 12);
}

